<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session['first_name']}}'s Messages</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wall.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
    <div class="d-flex justify-content-between">
        <h3>Coding Dojo Wall</h3>
        <h4 class="mr-5">Welcome, {{user.first_name}}!</h4><span><a href="/logout">Log Out</a> </span>
    </div>
    <hr>
    <div class="d-flex p-3">
        <div class="l-col">
            {% if messages|length > 1 %}
                <h5>{{messages|length}} Messages for You</h5>
            {% else %}
                <h5>{{messages|length}} Message for You</h5>
            {% endif %}
            {% for message in messages %}
            <div>
                <h3>{{message.user}} said:</h3>
                <p>{{message.content}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="r-col">
            <h5>Send Messages</h5>
            {% for message in get_flashed_messages( category_filter = ["error_message_content"] ) %}
                <div class="text-danger d-block">{{message}}</div>
            {% endfor %}
            {% for u in users %}
                {% if u.id != session.user_id %}
                    <form action="/create/message" method="POST">
                        <input type="hidden" name="user_id" value={{session.user_id}}>
                        <input type="hidden" name="friend_id" value={{u.id}}>
                        <label class="d-block fw-bold my-2">Message {{u.first_name}}:</label>
                        <div class="d-flex align-items-center">
                            <textarea name="content" cols="30" rows="3" class="me-2"></textarea>
                            <input type="submit" value="Message" class="btn btn-success">
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>