*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

.l-col, .r-col{
    flex: 1;
}

.r-col{
    border-left: 1px solid gray;
    padding-left: 50px;
}